html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
  font-family: 'Roboto', sans-serif;
}
/*NAVBAR*/
#navbar {
  height: 4rem;
  background-color: #1E1344;
  font-size: 16px;
}
.nav-link {
  float:right;
  margin-top: 1.2rem;
}
/*ADMIN-NAVBAR*/
#admin-navbar {
  height: 4rem;
  background-color: #1E1344;
  font-size: 16px;
}

.align-right {
  float: right;
}
.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav a {
  text-decoration: none;
  display: block;
  color: #f1f1f1;
}
.nav a:hover {
  color: #fff;
}
.nav li {
  display: inline-block;
  margin-right: 2rem;
  padding-top: 0.25rem;
}

#location-icon {
  height: 2rem;
  float: right;
  position: relative;
  top: -0.5rem;
}

#logo-image {
  height: 3rem;
  padding: 0.3rem;
}

#storefront-link {
  float: right;
  margin-top: 1.2rem;
}

.log-out-btn {
  float: right;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #E5A5A0;
  color: #f1f1f1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 0.8rem;
  padding: 0.2rem 1rem;
}

.log-out-btn:hover {
    color: #1E1344;
}

/*ADD NEW BOOK*/

.new-book-btn {
  float: right;
  display: inline-block;
  border-radius: 5px;
  background-color: #4DA6AD;
  border: none;
  color: #f1f1f1;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1rem 2rem;
  padding: 0.5rem 2rem;
}

.new-book-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.new-book-btn span:after {
  content: '\002b';
  position: absolute;
  opacity: 0;
  top: 0;
  transition: 0.5s;
}

.new-book-btn:hover span {
  padding-right: 25px;
}

.new-book-btn:hover span:after {
  opacity: 1;
  right: 0;
}

#search-bar-admin {
  margin: 0 2rem;
}
#books-table {
  margin: 0 2rem;
}

/* BOOKS TABLE */
#myInput {
    background-image: url('../img/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 99.7%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 0px 12px 0px; /* Add some padding */
    border: 2px solid #f1f1f1; /* Add a grey border */
    /*margin-bottom: 12px; /* Add some space below the input */
    text-indent: 40px;
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 16px; /* Increase font-size */
    background-color: #fff;
}

#myTable i {
  font-size: 1.2rem;
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#myTable tr.header {
  font-family: 'Quicksand', sans-serif;
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #E5A5A0;
    color:#fff;
}

/* Admin FOOTER*/
#admin-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: #f1f1f1;
  background-color: #1F2532;
  line-height: 50%;
  display: flex;
  font-size: 0.7rem;
}

#bookstore-details {
  width: 50%;
  text-align: right;
  padding-right: 1rem;
}

#opening-hours {
  width: 50%;
  padding-left: 1rem;
}

/* Modal Styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Header */
.add-book-modal-header {
    padding: 2px 16px;
    background-color: #1E1344;
    color: #f1f1f1;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
/* Modal Body */
.add-book-modal-body {
  padding: 2px 16px;
  background-color: #F5F5F5;
}
/* Modal Content */
.add-book-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
/* The Close Button */
.close {
    color: #f1f1f1;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#input_isbn {
  width: 72%;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  background-color: #fff;
  padding: 0.5rem;
  font-size: 14px;
  border: 1px solid #5e5e5e;
  margin-top: 1rem;
}

#scan-isbn-btn {
  width: 20%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #1F2532;
  color: #f1f1f1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem 0;
  margin-left: 0.5rem;
}

#input_price {
  width: 72%;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  background-color: #fff;
  padding: 0.5rem;
  font-size: 14px;
  margin-top: 1rem;
  border: 1px solid #5e5e5e;
  background-image: url('../img/currency.png'); /* Add a currency icon to input */
  background-position: right; /* Position the currency icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
}

/* CATEGORIES BUTTON */
/* Dropdown Button */
.category-dropdown {
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #717171;
  padding: 0.5rem;
  font-size: 14px;
  border: 1px solid #5e5e5e;
  cursor: pointer;
  border-radius: 5px;
}

/* The container - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 4px 6px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .category-dropdown {
    background-color: #f1f1f1;
}

/*Check book button*/
#check-book-btn {
  width: 76%;
  font-family: 'Roboto', sans-serif;
  background-color: #4DA6AD;
  color: #f1f1f1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font-size: 16px;
  margin-top: 1rem;
}

/*Reset data button*/
#reset-btn {
  width: 20%;
  font-family: 'Roboto', sans-serif;
  background-color: #E5A5A0;
  color: #f1f1f1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font-size: 16px;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

#add-book-confirm {
  text-align: center;
}

/*Add book button*/
.add-btn, .reserve-btn {
    position: relative;
    background-color: #4DA6AD;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    padding: 0.5rem 3rem;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.add-btn:after, .reserve-btn:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -50px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.add-btn:active:after, .reserve-btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


/*-----STOREFRONT STYLING-----*/
.section-title {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

#latest-books {
  background: rgb(77, 166, 173); /* Fall-back for browsers that don't support rgba */
  background:  linear-gradient(rgba(77, 166, 173, .8),rgba(77, 166, 173, .8)),
                url('../img/latest-pic.jpg');
  background-size: cover;
  margin: 0;
  padding: 1rem 6rem;
  display: block;
  text-align: center;
}

/*Recommendations section*/
#recommend {
  background-color: #E5A5A0;
  margin: 0;
  padding: 0.5rem 0;
  color: #FFF;
  text-align: center;
}

.recommend-btn {
  display: inline-block;
  border-radius: 5px;
  background-color: #1E1344;
  border: none;
  color: #f1f1f1;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1rem 2rem;
  padding: 0.5rem 2rem;
}

.recommend-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.recommend-btn span:before {
  font-family: FontAwesome;
  content: "\f118";
  /*position: absolute;*/
  opacity: 0;
  top: 0;
  transition: 0.5s;
}

.recommend-btn span:after {
  font-family: FontAwesome;
  content: "\f118";
  /*position: absolute;*/
  opacity: 0;
  top: 0;
  transition: 0.5s;
}

.recommend-btn:hover span {
  padding-right: 25px;
  padding-left:25px;
}

.recommend-btn:hover span:before {
  opacity: 1;
  left: 0;
  margin-right: 1rem;
}

.recommend-btn:hover span:after {
  opacity: 1;
  right: 0;
  margin-left: 1rem;
}

/*Browse books section*/
.browse-books-content {
  display: flex;
}

#categories {
  width: 20%;
}

#categories h3 {
  font-family: 'Quicksand', sans-serif;
  padding: 0 2rem 1rem 2rem;
  margin: 0;
}

#categories a {
  padding: 0.2rem 2rem;
  margin: 0;
}

#browse-book-cards {
  width: 80%;
}

#book-cards {
  /*display: flex;*/
  padding: 0.5rem 0;
  /*overflow-y: scroll;*/
}

#storefront-book-search {
    background-image: url('../img/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 98%;
    font-size: 16px;
    padding: 12px 0px;
    border: 2px solid #f1f1f1;
    text-indent: 40px;
}

/*BOOKS */

.book-card {
  width: 18%;
  background-color: rgb(255, 255, 255); /* White - Fall-back for browsers that don't support rgba */
  background-color: rgba(255, 255, 255, .8); /*White with opacity*/
  margin: 5px;
  padding: 0.5rem;
  display: inline-block;
}

.b-title {
  overflow:hidden;
  line-height: 1.2em;
  max-height: 1.2em;
}

.book-card p {
  font-size: 14px;
}

.book-cover {
  display: block;
  margin: 0 auto;
  position: relative;
  width:  100px;
  height: 150px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}
.b-price-reserve {
  display:flex;
  line-height: 10%;
}
.b-price {
  width:50%;
}
.btn-trigger-rmodal {
  width: 40%;
  background-color: #4DA6AD;
  color: #f1f1f1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border: 1px solid #1E1344;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}
.btn-trigger-rmodal:hover {
    background-color: #1E1344;
    color: #f1f1f1;
}

#request-book {
  background: rgb(0,0,0); /* Fall-back for browsers that don't support rgba */
  background:  linear-gradient(rgba(30, 19, 68, .6),rgba(30, 19, 68, .6)),
                url('../img/request-pic.jpg');
  background-size: cover;
  color: #f1f1f1;
  padding: 1rem 6rem;
  height: 30rem;
  font-family: 'Quicksand', sans-serif;
}

#request-book input {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#request-book button {
  line-height: 34px;
  margin: 0.2em;
  padding: 0 15px 0 15px;
  font-family: 'Roboto', sans-serif;
  background-color: #f1f1f1;
  color: #4DA6AD;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#request-book button:hover {
  color:#1E1344;
}

.req-form {
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .0) ;
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
  width: 35%;
}
.req-form::placeholder {
  color:#f1f1f1;
}

/*Storefront footer*/
#storefront-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: #f1f1f1;
    background-color: #1F2532;
    line-height: 50%;
    display: flex;
    font-size: 0.7rem;
    /*overflow:visible;*/
}
#fb-stf {
  width:25%;
  text-align: right;
  padding-top: 1.5rem;
}
.facebook-btn {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  /*font-size: 16px;*/
  color: #F1F1F1;
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  text-shadow: 0 -1px 0 #354C8C;
}
.facebook-btn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.facebook-btn:focus {
  outline: none;
}
.facebook-btn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
.facebook-btn:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.facebook-btn:hover,
.facebook-btn:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

#bookstore-details-stf {
  width: 25%;
  text-align: right;
  padding-right: 1rem;
}
#opening-hours-stf {
  width: 25%;
  padding-left: 1rem;
}
#login-stf {
  width:25%;
  padding-top: 1.5rem;
}
.login-btn {
  line-height: 34px;
  margin: 0.2em;
  padding: 0 15px 0 15px;
  /*font-size: 16px;*/
  font-family: 'Roboto', sans-serif;
  background-color: #4DA6AD;
  color: #f1f1f1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.login-btn:hover {
  color:#1E1344;
}

/* common classes */
.ul-nostyle {
  list-style: none;
  margin: 0;
}

.a-nostyle {
  color: inherit;
  text-decoration: none;
}

/* Tool tip */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.help-btn {
  /*line-height: 34px;*/
  /*margin: 0.2em;*/
  padding: 5px 15px 5px 15px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #4DA6AD;
  color: #f1f1f1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.help-btn:hover {
  color:#1E1344;
}

/*Reserve modal*/
.input-rsv-text {
  width: 72%;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  background-color: #fff;
  padding: 0.5rem;
  font-size: 14px;
  border: 1px solid #5e5e5e;
  margin-top: 1rem;
}
.reserve-book-modal-body {
  text-align: center;
}

/* Pagination */

.pagination {
    display: inline-block;
    padding-left: 48%;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #1E1344;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #4DA6AD;
    border-radius: 5px;
}
